body,
html{
  height: 100%;
  margin: 0;
  color: white;
}

#bg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.container{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

#header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#weather{
  display:flex;
  align-items: center;
  font-size: 20px;
  padding-right: 20px;
}

#center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
}

#time{
  font-size: 1000%;
}

#quote{
  font-size: 20px;
}

#card{
  background-color: rgba(0,0,0,0.6);
  width: 300px;
  height: 250px;
  position: absolute;
  bottom: 30px;
  right: 80px;
  padding:20px
}

#card > ul {
  list-style: none;
  padding-left: 20px;
}
.complete{
  text-decoration: line-through;
}

#todo{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
}